// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)

#include "resource.h"
#include "version.h"
#include <winres.h>

/////////////////////////////////////////////////////////////////////////////
// English (neutral) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION TEN_MAJOR_VERSION,TEN_MINOR_VERSION,TEN_BUILD_NUMBER,TEN_REVISION_NUMBER
 PRODUCTVERSION TEN_MAJOR_VERSION,TEN_MINOR_VERSION,TEN_BUILD_NUMBER,TEN_REVISION_NUMBER
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "CompanyName", "Tomb Engine Development Community"
            VALUE "InternalName", "TombEngine.exe"
            VALUE "LegalCopyright", "Copyright (c) 2024"
            VALUE "OriginalFilename", "TombEngine.exe"
            VALUE "ProductName", "Tomb Engine"
            VALUE "FileVersion", TEN_VERSION_STRING
            VALUE "ProductVersion", TEN_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "Resources\\ten.ico"


/////////////////////////////////////////////////////////////////////////////
//
// BIN
//

IDR_TITLELEVEL          BIN                     "Resources\\title.bin"


/////////////////////////////////////////////////////////////////////////////
//
// EXE
//

IDR_CRASHMSG            EXE                     "Resources\\crashmsg.exe"

#endif    // English (neutral) resources
/////////////////////////////////////////////////////////////////////////////

